<section class="resume-section summary-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
    <i class="fa-solid fa-info-circle"></i>
    Career Summary
  </h2>
  <div class="resume-section-content">
    <p class="mb-0">Results-driven Angular Developer with 10+ years of experience in designing and developing
      dynamic web applications. Proficient in using Angular framework, TypeScript, HTML, CSS, and JavaScript to
      build scalable and responsive user interfaces. Strong problem-solving skills and a passion for creating
      high-quality software solutions.</p>
  </div>
</section><!--//summary-section-->
