<section class="section about" id='about'>
  <div class="container">
    <div class="section-box">
      <div class="about-title" data-aos="fade-up">
        <h3 class="section-title">
          <span class='n-section-title'>01.</span> {{"AboutMe.Title" | translate}}
        </h3>
      </div>
      <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-12 col-md-12 mb-4 mb-md-0">
          <div class="about-description pe-md-4">
            <p *ngFor="let text of 'AboutMe.Paragraphs' | translate" [innerHTML]="text" data-aos="fade-up"
              data-aos-duration="1000">
            </p>

            <ul class="skills-list" data-aos="fade-up">
              <li *ngFor="let skills of 'AboutMe.Technologies' | translate" class="skill-element" data-aos="fade-up"
                data-aos-duration="1000">
                <span class="underline">{{ skills }}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Collage Column -->
        <!-- <div class="col-12 col-md-5 text-center" data-aos="fade-up" data-aos-duration="1000">
          <div class="about-img-container collage-masonry">
            <img (click)="analyticsService.sendAnalyticEvent('click_image', 'about', 'image')"
              class="rounded shadow-lg img-lg" src="assets/images/working-from-home.svg" alt="Working from home">

            <img (click)="analyticsService.sendAnalyticEvent('click_image', 'about', 'image')"
              class="rounded shadow-lg img-sm" src="assets/images/hardworking.svg" alt="Developer">

            <img (click)="analyticsService.sendAnalyticEvent('click_image', 'about', 'image')"
              class="rounded shadow-lg img-sm" src="assets/images/remote-ideation.svg" alt="Coding">

            <img (click)="analyticsService.sendAnalyticEvent('click_image', 'about', 'image')"
              class="rounded shadow-lg img-md" src="assets/images/people-collaborating-remotely.svg" alt="Teamwork">
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>