<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="flip-content">
        <img
          src="../../../assets/images/Screenshot_10.png"
          alt="Front Image"
          onContextMenu="return false;"
        />
      </div>
    </div>
    <div class="flip-card-back">
      <div class="flip-content">
        <img
          src="../../../assets//images/profile.jpg"
          alt="Back Image"
          onContextMenu="return false;"
        />
      </div>
    </div>
  </div>
</div>
