<section class="resume-section experience-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"><i
      class="fa-solid fa-certificate"></i>Certification</h2>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of myCertificate">
      <ng-template carouselSlide >
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"  onContextMenu="return false;">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
