<section class="resume-section experience-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"><i
      class="fa-solid fa-diagram-project"></i>&nbsp;Software Projects</h2>
  <div class="timeline">
    <div class="timeline-card timeline-card-primary card shadow-sm" *ngFor="let item of projectExperience;">
      <div class="card-body">
        <div class="h5 mb-1">{{item.name}} <span class="text-muted h6" style="float: right;">{{item.role}}</span></div>
        <div class="text-muted text-small mb-2">
          <div class="resume-position-time">Team Size : <span
              class="text-muted badge badge-light">{{item.teamsize}}</span></div>
          <div class="resume-position-time">Project Type : <span
              class="text-muted badge badge-light">{{item.project_type}}</span></div>
          <div class="resume-position-time">Project Period : <span
              class="text-muted badge badge-light">{{item.project_period}}</span></div>
        </div>
        <div>
          <ul>
            <li *ngFor="let desc of item.description">{{desc}}</li>
          </ul>
        </div>
        <div class="text-muted text-small mb-2">
          <div class="resume-position-time">Company : <span class="text-muted badge badge-light">{{item.company}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
