<section class="resume-section experience-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
    <i class="fa-solid fa-diagram-project"></i>
    Software Projects
  </h2>
  <div class="timeline">
    <div class="timeline-card timeline-card-primary card shadow-sm" *ngFor="let item of projectExperience;">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <div class="card-title h6">{{item.name}} </div>
            <div class="card-title h6">{{item.role}} </div>
          </div>
          <div class="col-4">
            <!-- <div class="card-title ">{{item.teamsize}} </div> -->
            <div class="card-title card-subtitle-year">{{item.project_type}} </div>
            <div class="card-title card-subtitle-year">{{item.project_period}} </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul>
          <li *ngFor="let desc of item.description">{{desc}}</li>
        </ul>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</section>
