<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
    <app-header-bar></app-header-bar>
    <div class="resume-body p-3">
      <app-career-objective></app-career-objective>
      <div class="row">
        <div class="col-lg-8">
          <app-left-section></app-left-section>
        </div>
        <div class="col-lg-4">
          <app-right-section></app-right-section>
        </div>
      </div>
      <!--//row-->
      <div class="row">
        <div class="col-lg-12">
          <app-project-experience></app-project-experience>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-certification></app-certification>
          <!-- <app-contact-us></app-contact-us> -->
        </div>
      </div>
    </div>
  </div>
</article>

<app-footer-bar></app-footer-bar>
