<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
    <app-header-bar></app-header-bar>
    <div class="resume-body p-3">
      <app-career-objective></app-career-objective>
      <div class="row">
        <div class="col-lg-8">
          <app-left-section></app-left-section>
        </div>
        <div class="col-lg-4">
          <app-right-section></app-right-section>
        </div>
      </div><!--//row-->
    </div><!--//resume-body-->
  </div>
</article>

<footer class="footer text-center pt-2 pb-5">
  <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a
      href="javascript:void(0)" target="_blank">Nikhil Janshali</a></small>
</footer>
